h1
{
    background-color: chocolate;
    color: aliceblue;
    }

#span-id
{
background-color: red;
color: white;
}


.bgmagenta
{
background-color: magenta;
color: white;
}

.bglightgreen
{
    background-color: lightgreen;
    color: sienna;
}

